.in-des1{
  font-family: 'Zeyada', cursive;
  left:140px;
}
.in-des2{
  font-family: 'Zeyada', cursive;
}
.in-des3{
  font-family: 'Zeyada', cursive;
  right:140px;
}
.in-elab1{
  left:140px;
}
.in-elab3{
    right:140px;
}
.Contact-me{
    top: 2040px;

}
.i1{
  width:55%;
  left:140px;
}
.i2{
  width:45%;
  margin: 0px 75px 0px 75px;
  top: 60px;
}
.i3{
  width:55%;
  right:140px;
}
