.last{
  top: 2415px;
}
.final1{
  font-family: 'Roboto', sans-serif;
}
.final2{
  font-family: 'Playfair Display', serif;
}
.final3{
  font-family: 'Roboto', sans-serif;
}
.final-pc1{
  margin-top: -180px;
  margin-right: 360px;
}
.final-pc2{

  left: 390px;
  
}
